server:
  port: 8082

spring:
  application:
    name: newsletter

  datasource:
    url: jdbc:h2:mem:newsletterdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update   # or create-drop if you want fresh schema each run
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

application:
  security:
    jwt:
      secret-key: 7b3d694878a4e756410e0b104332c245b6fc2a10d87b7031a5466b2d003ed390
      expiration: 86400000

scheduler:
  token-cleanup-cron: "0 5 0 * * ?"